<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-12">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ about.title }}</h5>
                        {{ about.text }}
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %}
                <div class="clearfix visible-xs"></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <iframe width="100%" height="640" src="https://www.youtube.com/embed/PrXarTh77EA" frameborder="0"></iframe>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <script src="//www.powr.io/powr.js" external-type="squarespace"></script>
            <div class="powr-countdown-timer" id="783aa81d_1486588553"></div>
        </div>
        <img src="/img/other/sala.png" width="100%">
    </div>
</section>
<!-- End About Section -->
