<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <ul class="list-inline">
                <li>
                    <a href="http://blog.fundaciobit.org/es/centre-bit-menorca/" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/centrebit.png" alt="centrebit">
                    </a>
                </li>
            </ul>
            <p>
                El Centre Bit de Menorca es un punto de atracción del talento innovador donde se pretende aglutinar empresas y emprendedores de base tecnológica.
                A través de sus instalaciones ofrecen espacios y servicios de asesoramiento y apoyo tanto a emprendedores TIC como empresas de la isla en la puesta
                en funcionamiento de iniciativas de RDI, colaboración internacional, y fomento e impulso de la innovación.
            </p>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Coorganizadores</h3>
            <ul class="list-inline">
                <li>
                    <a href="http://blog.fundaciobit.org/es/centre-bit-menorca" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/centrebit.png" alt="centrebit">
                    </a>
                </li>
                <li>
                    <a href="http://www.cime.es" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/cime.png" alt="cime">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Colaboradores</h3>
            <ul class="list-inline">
                <li>
                    <a href="https://cadenaser.com" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/cadenaser.jpg" alt="cadenaser">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.partnersTitle }}</h3>
            {% for partner in site.data.partners %}
            <!--<h5>{{ partner.group }}</h5>-->
            <ul class="list-inline">
                {% for element in partner.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            <a href="https://goo.gl/forms/701OQCTL7f9Y8LVx2" target="_blank" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.partnersC4sponsorsButton }}</a>
        </div>
    </div> 
</section>
<!-- End Partners Section -->

